@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

.jump:hover {
    animation: jump 0.5s ease-in-out;
}

.bg-carbon {
    background-image: repeating-linear-gradient(-45deg, #302f2f, #302f2f 6px, #2a2929 0, #000000 12px);
}

.my-white-text a {
    color: white;
}

a:hover {
    color: rgb(255, 0, 0) !important;
}

.nav-item a {
    font-size: large;
}
.img-container{
    max-width: 300px;
    margin: 0 auto;
}
.media{
    width: 400px;
    text-align: center;
}