@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}
.jump:hover {
    animation: jump 0.5s ease-in-out;
}


.bg-carbon {
    background-image: repeating-linear-gradient(-45deg, #2f3030, #302f2f 6px, #2a2929 0, #000000 12px);
}

.my-white-text a {
    color: white;
}

a:hover {
    color: rgb(255, 0, 0) !important;
}

/* #news-button:hover{
    color: white !important;
}
#news-button a {
    color: white;
    font-size: larger;
    transition: transform 0.2s ease;
    display: inline-block;
}

#news-button:hover a {
    transform: scale(1.1); 
} */
#news-button {
    transition: transform 0.2s ease; /* Add transition effect to the transform property */
}

#news-button:hover {
    transform: scale(1.1); /* Enlarge the button on hover */
}

#news-button a {
    color: white;
    font-size: larger;
}

#news-button:hover{
    color: white !important;
}



.nav-item a {
    font-size: large;
}


.img-container{
    max-width: 100%;
    margin: 0 auto;
}
body{
    background-image: url(../Images/testbg.png);
}

.media{
    height: 50%;
    text-align: center;
}

.carousel {
    width: 100%;
}
a.card-link:hover .card {
    box-shadow: 0 0 2rem rgb(255, 0, 0);
    transform: translateY(-0.25rem);
  }
a.card-link:active .card {
    transform: translateY(0);
  }
.card-img-top {
    height: 300px;
  }
#bottomy.nav-link{
    font-size: x-large;
}
#homie-img{
    border-radius: 10%;
    border: solid black 10px;
}
#homie-head{
    /*background-color: black;*/
    font-weight: bolder;
    font-size: 50px;
    margin: 0;
    color: red;
}
.meow{
    height: 300px;
    float: right;
    animation: vroom 5s linear infinite;
}
@keyframes vroom {
    0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-200px);
      }
  }

  .colortitle{
    color: red;
    font-size: 4em;
    font-family: sans-serif;
    font-weight: bold;
    animation-name: changeColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px #fff;
  }
  @keyframes changeColor {
    0% {
      color: red;
    }
    50% {
      color: blue;
    }
    100% {
      color: red;
    }
  }

  .card:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  :root {
    --color-primary: #000;
    --color-secondary: #fff;
    --max-img-size: 295px;
}

.my-bg-primary {
    background-color: var(--color-primary);
}

.card {
    height: 95%;
    margin: 10px 0px;
}   

img {
    height: 75%;
    border-bottom: 1px solid gray;
}

.btn-outline-dark {
    --bs-btn-border-color: black;
    --bs-btn-hover-bg: black;
}

.search-key-box{
    padding: 5px;
    float: left;
}
.search-key{
    color: black;
    font-size: x-large;
    font-family: math;
    border: solid black 4px;
    margin-left: 10px;
}
.searchy{
    position: absolute;
    /* float: left; */
    left: 40%;
}
label{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
    
}
#sort{
    margin-right: 20px;
    border: black solid 2px;
    padding-left: 5px;
}
#filter{
        margin-right: 20px;
        border: black solid 2px;
        padding-left: 5px;
}
.title{
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: xxx-large;
    font-family: math;
    font-weight: bolder;
}
.divider{
/* border: solid black;*/
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0px;
}
.pic{
    border-radius: 10%;
    border: solid rgb(90, 90, 90) 2px;
}
.description{
    margin:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}
.picture-container{
    margin: 10px;
    padding: 5px;
    border: solid black 2px;
    /* display: flex; */
    display: inline-block;
}
.card-img-top{
    height: 300px;
}
.card{
    border: solid rgb(91, 89, 89) 1px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  .merchtitle {
    color:white;
    padding-left: 45%;
    display: block;
    margin: 0 auto;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: xxx-large;
    font-family: math;
    font-weight: bolder;
    position: relative;
    z-index: 1;
    /* additional styles for the title */
  }