@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

.jump:hover {
    animation: jump 0.5s ease-in-out;
}

.bg-carbon {
    background-image: repeating-linear-gradient(-45deg, #302f2f, #302f2f 6px, #2a2929 0, #000000 12px);
}

.my-white-text a {
    color: white;
}

a:hover {
    color: rgb(255, 0, 0) !important;
}

.nav-item a {
    font-size: large;
}


.img-container{
    max-width: 100%;
    margin: 0 auto;
}
<<<<<<< HEAD
body{
    background-image: url(../Images/testbg.png);
}
=======

>>>>>>> e8dfa9ada3cbbb89227aff4c67445e286d281276
.media{
    height: 50%;
    text-align: center;
}

.carousel {
    width: 100%;
<<<<<<< HEAD
}
a.card-link:hover .card {
    box-shadow: 0 0 2rem rgb(255, 0, 0);
    transform: translateY(-0.25rem);
  }
a.card-link:active .card {
    transform: translateY(0);
  }
.card-img-top {
    height: 300px;
  }
  
  
=======
}
>>>>>>> e8dfa9ada3cbbb89227aff4c67445e286d281276
