body {
    background-image: url(../Images/bbg2.jpg);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #9c27b040;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.introbbg{
    border: solid black 10px;
}
#mc{
    border: dashed #219ef357 10px;
    background-color: #9c27b040;
    font-size: large;
}

h1 {
    margin: 0;
}

main {
    padding: 10px;
}
p {
    font-size: large;
    font-family: 'Pixelated', sans-serif;
    text-align: justify;
  }
.bg-carbon {
    background-image: repeating-linear-gradient(-45deg, #9475a1, #ba68b9 6px, #aa60ac 0, #9a28cb 12px);
}
.nav-link{
font-size: larger;
}

.my-white-text a {
    color: white;
}

a:hover {
    color: rgb(100, 181, 231) !important;
}


#memetitle{
    
    font-size: x-large;
    
    padding: 0;
    /* margin-bottom: 0px; */
    /* font-weight: 1000px; */
    font-weight: 900;
    margin: 5px;
}

p{
    margin: 10px;
    background: #b0e0e66e;
    border: solid black;
    border-radius: 5%;
    padding: 10px;
}
@font-face {
    font-family: 'Pixelated';
    src: url('pixelated-font.woff') format('woff');
  }

