body{
    background-image: repeating-linear-gradient(-45deg, #302f2f, #302f2f 6px, #2a2929 0, #000000 12px);
}
.media{
    height: 50%;
    text-align: center;
}
a.card-link:hover .card {
    box-shadow: 0 0 2rem rgb(255, 0, 0);
    transform: translateY(-0.25rem);
  }
a.card-link:active .card {
    transform: translateY(0);
  }
.card-img-top {
    height: 300px;
  }
#bottomy.nav-link{
    font-size: x-large;
}
#news{
    color: red;
    /* box-shadow: 0 0 2rem rgb(94, 90, 90); */
    font-size: xxx-large;
    text-align: center;
    font-weight: bolder;
}