:root {
    --my-blue: rgb(0, 136, 255);
    --my-pink: pink;
    --my-hot-pink: hotpink;
    --my-yellow: yellow;
}

body {
    background-color: hotpink !important;
    background-image: url("../Images/pink-heart-icon-4.png");
    background-repeat: repeat;
}
.bg-carbon {
    background-image: repeating-linear-gradient(-45deg, #ffe600, #f7f756 6px, #fff81f 0, #fff492 12px);
}

.my-white-text a {
    color: white;
}

a:hover {
    color: rgb(255, 166, 181) (255, 0, 166) !important;
}

.card {
    margin: 6px 0px;
}
.card-body {
    padding: 4px 16px !important;
}

.ui {
    position: fixed;
    bottom: 0;
    background-color: rgb(0, 136, 255);
    text-align: center;
    padding: 10px;
    width: 80%;
}

.messagebox {
    max-height: 600px;
    overflow-y: scroll;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background-color: pink;
    border-radius: 10px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

/* Style the scrollbar corner */
::-webkit-scrollbar-corner {
    background-color: #ff0000;
}

/* Hide the scrollbar when it's not being hovered over */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb:hover {
    background-color: yellow;
}

.other-message {
    width: 60%;
}

.my-message {
    width: 60%;
    float: right;
    display: block;
}

.bg-carbon {
    /* background-image: repeating-linear-gradient(-45deg, #0077c2, #0077c2 6px, #2a63a0 0, #2a63a0 12px); */
    /* background-image: repeating-linear-gradient(-45deg, #2f3030, #302f2f 6px, #2a2929 0, #000000 12px); */
    /* background-image: repeating-linear-gradient(-45deg, #f9d81c, #f9d71c 6px, #e7b416 0, #e7b416 12px); */
    background-image: repeating-linear-gradient(-45deg, #fff3a1, #fff3a1 6px, #feec90 0, #feec90 12px);
}

.my-white-text a {
    color: var(--my-blue);
}

a:hover {
    color: var(--my-hot-pink) !important;
}

.nav-item a {
    font-size: large;
}

/* jalal */