.margin-tb-10 {
    margin: 10px 0px;
}

.correct {
    background-color: var(--bs-green) !important;
    color: white !important;
}

.wrong {
    background-color: var(--bs-red) !important;
    color: white !important;
}

.hidden {
    display: none;
}

.no-click {
    background-color: grey;
    pointer-events: none;
    cursor: not-allowed;
}