.margin-tb-10 {
    margin: 10px 0px;
}

.correct {
    background-color: var(--bs-green) !important;
    color: white !important;
}

.wrong {
    background-color: var(--bs-red) !important;
    color: white !important;
}

.hidden {
    display: none;
}

.no-click {
    background-color: grey;
    pointer-events: none;
    cursor: not-allowed;
}

body {
    background-image: url("../Images/trivia_background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white !important;
}

.glass {
    background-color: rgba(255, 255, 255, 0.2);
}

.backg-blurred {
    backdrop-filter: blur(5px);
}

.back-blurred {
    backdrop-filter: blur(10px);
}

.trans {
    background-color: transparent;
}

.green-shadow {
    box-shadow: 0 0 20px 10px var(--bs-green);
}

.red-shadow {
    box-shadow: 0 0 20px 10px var(--bs-red);
}

@keyframes blink-green {
    0% {
        background-color: var(--bs-green);
    }

    50% {
        background-color: inherit;
    }

    100% {
        background-color: var(--bs-green);
    }
}

.blink-green-bg {
    animation: blink-green 500ms !important;
}

.text-white {
    color: white;
}

.btn {
    border-color: white !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card {
    margin: 0px 10px;
}

.bol-inverse {
    --bs-btn-color: var(--bs-black);
    --bs-btn-bg: var(--bs-white);
    --bs-btn-border-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: transparent;
    --bs-btn-focus-shadow-rgb: var(--bd-white-rgb);
}

.bg-carbon {
    /* background-image: repeating-linear-gradient(-45deg, #2f3030, #302f2f 6px, #2a2929 0, #000000 12px); */
    background-image: repeating-linear-gradient(-45deg, #f5f5f5, #f5f5f5 6px, #e0e0e0 0, #e0e0e0 12px);
}

.my-white-text a {
    color: black;
}

a:hover {
    color: blue !important;
}

.nav-item a {
    font-size: large;
}

/* jalal */